<html>
  <head>
    <link href="css/login.css" rel="stylesheet" type="text/css" />
    <body>
      <h1 id="response"></h1>
      <div class="form">
        <div class="formLogin">
          <img src="/image/authImage.png" height="250px" width="auto" />
          <h1 class="textLogin" style="font-size: 20px">User Login</h1>
          <form action="/api/v0/login" method="post">
            <div>
              <label>Name</label><br />
              <input
                type="text"
                name="name"
                placeholder="Name"
                size="35px"
                style="border-radius: 10px"
              />
            </div>
            <br />
            <div>
              <label>Password</label>
              <br />
              <input
                type="password"
                name="password"
                placeholder="Password"
                size="35px"
                style="border-radius: 10px"
              />
              <br />
            </div>
            <br />
            <input type="submit" id="submit" value="Login" />
          </form>
          <p>
            Don't have an account? <br />
            <a class="redirectRegister" href="/register">Register Here</a>
          </p>
        </div>
      </div>
    </body>
  </head>
</html>
